@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
}


@font-face { 
    font-family: roboto-regular; 
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
}


/* @font-face {
    font-family: roboto-regular;
    src: url("./Roboto/Roboto-regular.ttf");

  }

p {
font-family: roboto-regular;
font-weight: 70;
font-size: 40px; */